header {
    
    height: auto; 
    background-color: #39a900;
    
}

header h1 {
    color: #ffffff; 
    font-size: 30px;
    
}

nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}



nav ul li a {
    color: #c1ff95;
    text-decoration: none; 
    display: block; 
    font-size: 30px;
    text-shadow: 5px 5px 5px #c1ff95
}


